<div class="main-home">
  <!-- Section 1 -->
  <section class="sect-1">
    <div class="container-fluid p-0">
      <div class="img-banner d-flex justify-content-center align-items-center">
        <div class="text-banner text-center">
          <h3 class="text-uppercase">Play Traditioanal Game</h3>
          <p>Experience new traditioanl game play</p>
          <a href="/game" class="btn text-uppercase">Play Now</a>
        </div>
        <div class="btn-scroll-down text-center">
          <a href="#" class="text-uppercase">The Story
            <div class="icon-arrow">
              <iconify-icon icon="material-symbols:double-arrow" rotate="90deg" width="25"></iconify-icon>
            </div>
          </a>
        </div>
      </div>
  </section>

  <!-- Section 2 -->
  <section class="sect-2">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-3 item-text-title">
          <p>What's so special?</p>
          <h3 class="text-uppercase">The Games</h3>
        </div>
        <div class="col-12 col-lg-9 mx-md-auto img-carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner" data-aos="zoom-in-up" data-aos-delay="100" data-aos-offset="400"
              data-aos-duration="800">
              <div class="carousel-item active">
                <img src="./assets/img/img-carousel-1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/img-carousel-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/img-carousel-3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/img-carousel-4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/img/img-carousel-5.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <iconify-icon icon="material-symbols:play-arrow-outline-rounded" rotate="180deg" width="50">
              </iconify-icon>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <iconify-icon icon="material-symbols:play-arrow-outline-rounded" width="50"></iconify-icon>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 3 -->
  <section class="sect-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-1 col-md-7 text-white"></div>
        <div class="col-12 col-md-5 items-text">
          <div>
            <div class="title">
              <p>What's so special?</p>
              <h3 class="text-uppercase">Features</h3>
            </div>
            <div class="text-desc">
              <ul>
                <li><span>Traditional Games</span>
                  <p>if you miss childhood, we provided <br> many traditional games here</p>
                </li>
                <li><span>Game Suit</span></li>
                <li><span>TBD</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 4 -->
  <section class="sect-4">
    <div class="container">
      <p class="text-center title">Can My Computer Run this game?</p>
      <div class="text-title text-uppercase">
        <h3>system <br>requirements</h3>
      </div>
      <div class="row gap-0">
        <div class="col-lg-3 col-md-6 col-6">
          <div class="card" data-aos="fade-down" data-aos-duration="900" data-aos-delay="100">
            <div class="card-title">
              <h3>OS</h3>
            </div>
            <div class="desc-card">
              <p>Windows 7 64-bit only<br>(No OSX support at this time)</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-6">
          <div class="card" data-aos="fade-down" data-aos-delay="300" data-aos-duration="900">
            <div class="card-title">
              <h3>PROCESSOR</h3>
            </div>
            <div class="desc-card">
              <p>Intel Core 2 Duo @ 2.4 GHZ or <br> AMD Athlon X2 @ 2.8 GZH.</p>
            </div>
          </div>
        </div>

        <div class="w-100 d-none d-md-block"></div>
        <div class="col-lg-3 col-md-6 col-6  border-opacity-25">
          <div class="card" data-aos="fade-down" data-aos-delay="100" data-aos-duration="900" data-aos-offset="200">
            <div class="card-title">
              <h3>mEMORY</h3>
            </div>
            <div class="desc-card">
              <p>4 GB RAM</p>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="col-lg-3 col-md-6 col-6">
          <div class="card" data-aos="fade-down" data-aos-delay="300" data-aos-duration="900" data-aos-offset="200">
            <div class="card-title">
              <h3>storage</h3>
            </div>
            <div class="desc-card">
              <p>8 GB available space</p>
            </div>
          </div>
        </div>

        <div class="w-100 d-none d-md-block"></div>

        <!-- Card 5 -->
        <div class="col-lg-6 col-md-12 col-sm-6">
          <div class="card" data-aos="fade-right" data-aos-delay="100" data-aos-duration="900" data-aos-offset="200">
            <div class="card-title">
              <h3>GRAPHICS</h3>
            </div>
            <div class="desc-card">
              <p>NVIDIA GeForce GTX 660 2GB or <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section 5 -->
  <section class="sect-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 d-flex items-text align-items-center">
          <div class="">
            <h3 class="text-uppercase mb-3">Top Scores</h3>
            <p>This top scores from various games provided<br> on this platform.</p>
            <a href="#" class="nav-link p-0" data-aos="zoom-in" data-aos-delay="1000" data-aos-duration="800">see
              more</a>
          </div>
        </div>
        <div class="col-6 col-md-12 col-lg-6 mx-0 items-card">
          <div class="row justify-content-center mx-auto">
            <div class="col-12 col-lg-6 col-md-12">
              <!-- Card 1 -->
              <div class="blocks-card " data-aos="fade-down-left" data-aos-offset="200" data-aos-duration="700"
                data-aos-delay="150">
                <div class="card-body p-3 p-md-3 ">
                  <div class="title-card d-flex me-auto">
                    <div class="img-title-profile ">
                      <img src="./assets/img/ellipse-orange.png" alt="" class="img-profile">
                      <img src="./assets/img/evan-lahti.jpg" alt="" class="img-bg-profile rounded-circle">
                    </div>
                    <div class="text-title me-auto">
                      <h3>Evan Lathi</h3>
                      <p>PC Gamer</p>
                    </div>
                    <div class="img-twitter ">
                      <img src="./assets/img/twitter-card.png" alt="" class=" ">
                    </div>
                  </div>
                  <div class="desc-body">
                    <p>"One of my gaming lighlight of the year"</p>
                    <p>October 18,2018</p>
                  </div>
                </div>
              </div>
              <!-- Card 2 -->
              <div class="blocks-card" data-aos="fade-left" data-aos-offset="300" data-aos-duration="700"
                data-aos-delay="300">
                <div class="card-body p-3">
                  <div class="title-card d-flex">
                    <div class="img-title-profile ">
                      <img src="./assets/img/ellipse-orange.png" alt="" class="img-profile">
                      <img src="./assets/img/jada-griffin.jpg" alt="" class="img-bg-profile rounded-circle">
                    </div>
                    <div class="text-title me-auto">
                      <h3>Jada Griffin</h3>
                      <p>Nerdreactor</p>
                    </div>
                    <div class="img-twitte">
                      <img src="./assets/img/twitter-card.png" alt="">
                    </div>
                  </div>
                  <div class="desc-body">
                    <p>"The night big thing in the world of streaming and survival games"</p>
                    <p>December 21,2018</p>
                  </div>
                </div>
              </div>
              <!-- Card 3 -->
              <div class="blocks-card" data-aos="fade-up-left" data-aos-offset="300" data-aos-duration="700"
                data-aos-delay="450">
                <div class="card-body p-3">
                  <div class="title-card d-flex align-items-center">
                    <div class="img-title-profile ">
                      <img src="./assets/img/ellipse-orange.png" alt="" class="img-profile">
                      <img src="./assets/img/aaron-williams.jpg" alt="" class="img-bg-profile rounded-circle">
                    </div>
                    <div class="text-title me-auto">
                      <h3>Aaron Williams</h3>
                      <p>Uproxx</p>
                    </div>
                    <div class="img-twitter">
                      <img src="./assets/img/twitter-card.png" alt="">
                    </div>
                  </div>
                  <div class="desc-body">
                    <p>"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous"</p>
                    <p>December 21,2018</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
