<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container p-md-0">
    <a class="navbar-brand" href="#">LOGO</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <iconify-icon icon="charm:menu-hamburger"></iconify-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav text-uppercase me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Me</a>
        </li>
      </ul>
      <div class="btn-log text-uppercase justify-content-end d-flex">
        <a href="#" class="nav-link p-0">sign up</a>
        <a href="#" class="nav-link p-0">Login</a>
      </div>
    </div>
  </div>
</nav>
